.home-page {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 30px;
  padding-bottom: 30px;
  @media (max-width: 772px) {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
